<link rel="icon" type="image/png" href="IMDb_logo.png">
<link rel="stylesheet" type="text/css" href="layout.css">
<body>
  <header>
    <div class="header-left">
      <a href="/">
        <img src="IMDb_logo.png" alt="Homepage" style="width:63px; height: 55px;">
      </a>
    </div>
    <div class="header-center">
        <input type="text" name="q" placeholder="Search IMDb">
        <button type="submit">Search</button>
    </div>
    <div class="header-right">
      <% if logged_in? %>
        <p><%= current_user.username %></p>
        <a href="/logout">Sign out</a>
      <% else %>
        <a href="/login">Login</a>
      <% end %>
    </div>
  </header>
  <%= yield %>
</body>
</html>